@import url(./__logo/header__logo.css);

.header{
    margin-top: 45px;
    max-width: 882px;
    width: 100%;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width:768px){
    .header{
        margin-top: 28px;
        max-width: 320px;
    }
}