.profile__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    grid-column: 1;
    grid-row: 1;
}

@media screen and (max-width:768px) {
    .profile__title {
        font-weight: 500;
        font-size: 27px;
        line-height: 56px;
    }
}