.card__button {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset;
    border: 0;
    transition: opacity .5s ease-out;
}

.card__button:hover{
    opacity: .8;
}