.popup__window {
    position: relative;
    width: 100%;
    max-width: 430px;
    max-height: 330px;
    background-color: #ffffff;
    margin: 195px auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 34px 36px 36px 36px;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width:535px) {
    .popup__window {
        max-width: calc(320px - (42px * 2));
        padding: 30px 20px;
    }
}