.card__image{
    width: 282px;
    height: 282px;
    grid-column: 1/2;
    grid-area: image;
    filter: brightness(80%);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}