.profile__info {
    margin-left: 30px;
    margin-top: 18px;
    align-self: center;
    display: grid;
    gap: 16px;
    max-width: 336px;
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    .profile__info {
        margin: 0;
        margin-top: 10px;
        column-gap: 10px;
        row-gap: 0;
        max-width: 280px;
    }
}