.image-zoom_visibility-hidden.image-zoom{
     animation: fade-out .2s linear forwards ;
     /* display: none; */
}

@keyframes fade-out{
     from{
     }
     to{
          visibility: hidden;
          opacity: 0;
     }
}