@import url(./__copyright/footer__copyright.css);
.footer {
    margin-top: 66px;
    margin-bottom: 60px;
    max-width: 882px;
    width: 100%;
}

@media screen and (max-width:768px) {
    .footer {
        margin-top: 48px;
        margin-bottom: 36px;
        max-width: 281px;
    }
}