.grid-block {
    margin-top: 50px;
    display: grid;
    row-gap: 20px;
    column-gap: 18px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width:1024px) {
    .grid-block {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width:768px) {
    .grid-block {
        margin-top: 36px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
    }
}