.profile__button_type_edit {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    width: 24px;
    height: 24px;
    background-image: url(../../../../images/button__type-edit.svg);
    background-size: 10px 10px;
    border: 1px solid #FFFFFF;
}

@media screen and (max-width:768px) {
    .profile__button_type_edit {
        width: 18px;
        height: 18px;
        background-size: 8px 8px;
    }
}