.profile__button_type-add {
    margin-left: auto;
    width: 150px;
    height: 50px;
    border: 1px red solid;
    background-image: url(../../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    align-self: center;
}

@media screen and (max-width:1024px) {
    .profile__button_type-add {
        margin: 0;
        margin-top: 36px;
        width: 282px;
        background-size: 14px 14px;
    }
}

/* 
@media screen and (max-width:768px) {
    .profile__button_type-edit {
        width: 18px;
        height: 18px;
    }
} */