.profile__button_type-edit {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    width: 24px;
    height: 24px;
}

@media screen and (max-width:768px) {
    .profile__button_type-edit {
        width: 18px;
        height: 18px;
    }
}