@import url(./__title/card__title.css);
@import url(./__image/card__image.css);
@import url(./__button/card__button.css);
.card {
    width: 282px;
    /* height: 361px; */
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 10px;
    color: #000000;
    overflow: hidden;
    display: grid;
    grid-template-areas:
    "image image"
    "title button";
    gap:25px;
    padding-bottom: 25px;
}